.track__item {
  display: grid;
  height: 56px;
  grid-gap: 16px;
  padding: 0 16px;
  border-radius: 4px;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  color: #b3b3b3;
}

.track__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.track__item div span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
}
.track__index,
.track__info,
.track__img,
.track__album,
.track__added,
.track__time {
  display: flex;
  align-items: center;
}

.track__index {
  position: relative;
  grid-column: index;
}
.track__index span {
  z-index: 1;
}
.track__item:hover .track__index span {
  opacity: 0;
  visibility: hidden;
}

.track__item:hover .track__index .track__item__button {
  opacity: 1;
  visibility: inherit;
}

.track__item .track__item__button--active {
  opacity: 1;
  visibility: inherit;
}

.track__item__button {
  position: absolute;
  left: -12px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.track__item .track__info {
  display: flex;
  align-items: center;
  gap: 16px;
  grid-column: first;
}

.track__item .track__img {
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
}

.track__item .track__img img {
  width: 100%;
}

.track__item .track__title {
  display: grid;
  grid-template:
    'title title'
    'badges subtitle' / auto 1fr;
}

.item__title {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  color: #fff;
  grid-area: title;
  grid-column-start: title;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: unset;
  word-break: break-all;
  white-space: nowrap;
}

.item__artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: unset;
  word-break: break-all;
  white-space: nowrap;
  grid-area: subtitle;
  grid-column-start: badges;
}

.track__item a {
  text-decoration: none;
  color: inherit;
}
.track__item a:hover {
  text-decoration: underline;
  color: white;
}

.track__item .track__album {
  grid-column: var1;
}
.track__item .track__added {
  grid-column: var2;
}
.track__item .track__time {
  grid-column: last;
  justify-self: end;
}

.track__time .button__icon {
  opacity: 0;
  visibility: hidden;
}

.track__item:hover .track__time .button__icon {
  opacity: 1;
  visibility: inherit;
}

.track__item--active {
  color: #1db954;
  fill: #1db954;
}
@media (max-width: 1050px) and (min-width: 801px) {
  .track__added {
    display: none;
  }
  .track__album {
    grid-column: var2;
  }
}

@media (max-width: 800px) {
  .track__item .track__album {
    display: none;
  }
  .track__item .track__added {
    display: none;
  }
}

.add__button {
  background-color: transparent;
  border: 1px solid #535353;
  background-color: transparent;
  border-radius: 500px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 8px 34px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
  transition: all 33ms cubic-bezier(0.3, 0, 0, 1);
  white-space: nowrap;
  will-change: transform;
}

.add__button:hover {
  border: 1px solid #fff;
  transform: scale(1.06);
}
