.button--nav {
  display: flex;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: #b3b3b3;
  fill: #b3b3b3;
  text-decoration: none;
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

.button--nav:hover {
  color: white;
  fill: white;
}

.button--nav svg {
  height: 24px;
  width: 24px;
}

.button__title {
  height: 1rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button__icon {
  height: 24px;
  min-height: 24px;
  width: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  box-sizing: border-box;
}

.button--icon,
.button--player {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 32px;
  width: 32px;
  border-radius: 100px;
  background-color: black;
  color: white;
  fill: white;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.button--player {
  cursor: auto;
  border: none;
}

.button--icon:hover,
.button--player:hover {
  opacity: 1;
}

.button--player {
  background-color: transparent;
}
