.cover {
  height: 232px;
  min-width: 232px;
  width: 232px;
  display: flex;
  z-index: 1;
  position: relative;
}
.cover img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  fill: white;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.cover:hover .cover__overlay {
  opacity: 1;
}
