.page__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}
.page__template {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.main__template__container {
  z-index: 0;
}

.genre__template {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 32px;
  box-sizing: border-box;
}

.genre__header {
  max-height: 400px;
  min-height: 230px;
  height: 25vh;
  padding: 0 32px;
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.genre__header h1 {
  color: white;
  padding: 0.08em 0px;
  visibility: visible;
  width: 100%;
  font-size: 96px;
  line-height: 96px;
  text-transform: none;
  letter-spacing: -0.04em;
  margin-block: 0;
  z-index: 1;
}
