header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 64px;
  /* background-color: #121212; */
  box-sizing: border-box;
  z-index: 3;
  width: 100%;
  pointer-events: none;
  padding: 16px 32px;
}

.header__wrapper {
  display: flex;
  gap: 16px;
  pointer-events: all;
  align-items: center;
}

.header__wrapper .button--icon {
  height: 32px;
  width: 32px;
}

.collection__nav {
  display: flex;
  gap: 8px;
  z-index: 3;
}

.collection__nav a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.collection__nav--active {
  background-color: #333;
}
.collection__nav a span {
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
}


