.side__nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 270px;
  min-width: 130px;
  max-width: 395px;
  padding-top: 24px;
  box-sizing: border-box;
  background-color: black;
  resize: horizontal;
  overflow: hidden;
}

.logo__container {
  display: flex;
  height: 65px;
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
}

.logo__container svg {
  height: 40px;
  color: white;
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu__wrapper .button--nav {
  height: 40px;
  padding: 0 24px;
}

.create__playlist .button__icon svg,
.liked__songs .button__icon svg {
  height: 12px;
  width: 12px;
}

.menu__wrapper .create__playlist,
.menu__wrapper .liked__songs {
  opacity: 0.7;
  color: white;
}
.menu__wrapper .create__playlist:hover,
.menu__wrapper .liked__songs:hover {
  opacity: 1;
}

.create__playlist .button__icon {
  background-color: white;
  fill: black;
}

.liked__songs .button__icon {
  background: linear-gradient(135deg, #450af5, #c4efd9);
  fill: white;
}

.divider--top {
  padding-top: 24px;
}

.divider--bottom--line {
  padding-bottom: 10px;
  margin: 0 24px;
  border-bottom: 1px solid #282828;
}
