.page__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.searchBar {
  display: flex;
  gap: 8px;
  z-index: 3;
}

.collection__playlists {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 32px 0;
  box-sizing: border-box;
  z-index: 1;
  height: calc(100% - 64px);
}
.search__first__section {
  display: flex;
  z-index: 1;
  flex-direction: column;
}
.search__first__section .main__template__list {
  padding: 0;
}

.search__first__section h2 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.04em;
  text-transform: none;
  color: white;
}


.card__type--category {
  display: flex;
  position: relative;
  min-width: 180px;
  width: 230px;
  max-width: 230px;
  min-height: 180px;
  height: 230px;
  max-height: 230px;
  overflow: hidden;
  border-radius: 8px;
}

.card__type--category .card__img {
  height: 128px;
  width: 128px;
  position: absolute;
  transform: rotate(25deg) translate(18%, -2%);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  bottom: 0;
  right: 0;
  border-radius: 4px;
}

.card__type--category .card__title {
  font-size: 24px;
  letter-spacing: -0.04em;
  line-height: 1.3em;
  max-width: 100%;
  overflow-wrap: break-word;
  padding: 16px;
  position: absolute;
  color: white;
  margin: 0;
  box-sizing: border-box;
  white-space: pre-wrap;
}