.player {
  display: flex;
  height: 10%;
  padding: 0 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  border-top: 1px solid #282828;
}
.player__display,
.player__options,
.player__controls,
.player__section--1,
.player__section--2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.player__controls {
  width: 40%;
  flex-direction: column;
}

.player__display,
.player__options {
  width: 30%;
}

.player__display {
  justify-content: flex-start;
  transition: transform 0.3s ease;
}
.player__options {
  justify-content: flex-end;
}

.player__display--close {
  transform: translate(-72px);
}

.player__display .liked {
  fill: #1db954;
}
