.rangeSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 0;
  z-index: 1;
  position: relative;
}

.rangeSlider input {
  position: relative;
  width: 100%;
  height: 4px;
  margin: 0;
  padding: 0;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  outline: none;
  z-index: 2;
}

.rangeSlider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  cursor: pointer;
  z-index: 3;
}

.progressBar {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background-color: #535353;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
}

.progressFill {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  transform: translate(-100%);
  background-color: #ffffff;
  z-index: 1;
}

.rangeSlider:hover .progressFill {
  background-color: #1db954;
}

.progressNode {
  height: 12px;
  width: 12px;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  left: -6px;
  z-index: 1;
}
