@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  font-family: "Circular Spotify Tx T Black"
}